<div class="main-container">
  <div class="admin-button-container">
    <button class="admin-button" *ngIf="!authService.isLoggedIn" (click)="openLoginPopup()">Admin</button>
    <button class="admin-button logout" *ngIf="authService.isLoggedIn" (click)="logout()">Logout</button>
  </div>

  <h1>Welcome to My Interactive Resume</h1>
  <p>Click on a section to view more details:</p>
  
  <div class="button-container">
    <button (click)="navigateTo('about')">About Me</button>
    <button (click)="navigateTo('experience')">Experience</button>
    <button (click)="navigateTo('education')">Education</button>
    <button (click)="navigateTo('projects')">Projects</button>
    <button (click)="navigateTo('skills')">Skills</button>
    <button (click)="navigateTo('contact')">contact</button>
  </div>
</div>

<app-login-popup (closePopup)="handleLoginClose($event)" *ngIf="showLoginPopup"></app-login-popup>
